body{
    background-color: #a6a6a6;
    padding: 15px;
    border:2px solid black;
    border-bottom: none;
    border-top: none;
    margin: auto;
    width: 100%;
}
a{
    display: inline-block;
    background-color: #0c0c0c;
    color: white;
    padding: 12 32px;
    border-radius: 6px;
   
}
h3{
                color: #ffffff;
                background-color: #0c0c0c;
            }